body{
    margin: 0px;
    padding: 0%;
}
.offer-container{
    height: 19px;
    width: 100%;
    background-color: black;
    text-align: center;
    font-size: 11px;
    color: white;
    margin-top: 0%;
    padding-top: 5px;
    position: relative;
    
}

.credit-card-img{
    height: 14px;
    width: 14px;
    color: aliceblue;
    position:absolute;
    left: 550px;
    top: 4px;
}

.option-bar{
    width: 100%;
    height: 58px;
    background-color: #ffdf99;
    position: relative;
    box-shadow: 0 0 10px #595959;
    text-decoration: none;
}

.btn{
    border-radius: 10px;
    padding: 3px;
    width: 110px; 
    height: 30px;
    margin: 5px;
    background-color: #ffdf99;
    border: #ffdf99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;               
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}
.btn:hover{
    background-color:#ffcf66;
    box-shadow: 0 0 10px #595959;
    color: white;
    transform: scale(1.1);
    transition: 0.3s;}

.btn2{
    border-radius: 10px;
    padding: 3px;
    width: 170px; 
    height: 30px;
    margin: 0px 10px;
    background-color: #ffdf99;
    border: #ffdf99;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;               
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
}


.btn2:hover{
    background-color:#ffcf66;
    box-shadow: 0 0 10px #595959;
    color: white;
    transform: scale(1.05);
    transition: 0.3s;}


.signin-img{
    height:30px;
    width:30px;
    position: relative;
    top: 10px;
    margin-left:730px; 
    
}
.search{
    padding-left: 20px;
    padding-top: 3px;
    border-radius: 20px;
    height: 35px;
    width: 400px;
    position: absolute;
    right: 300px;
    top:8px;
    background-color: #fff7e6;
    font-size: 19px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;

}
.search:hover{
    background-color:#e6e6e6;
    color: black;
    transition: 0.3s;
    box-shadow:0 0 10px #fff7e6;
    transform: scale(1.05);
}
.contact{
    position: absolute;
    margin-top: 12px;
    padding-left:4px ;
    padding-right:4px ;
    padding-top:2px ;
    padding-bottom:2px ;
    right: 100px;
    cursor: pointer;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.contact:hover{
    background-color:#ffcf66;
    box-shadow: 0 0 10px #595959;
    color: white;
    transform: scale(1.05);
    transition: 0.3s;}

    
.logo-img{
    border-radius: 5px;
    height:180px;
    position: relative;
    top: 40px;
    margin-left: 37px;
    box-shadow: 0px 0px 0px 5px #ffcf66;
}
.enrich{
    font-size: 70px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 650px;
    margin-top: -190px;
    color: #ffcf66;
}

.namste{
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    margin-top: -80px;
    color: #000000;
}
.namste-2{
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 30px;
    margin-top: -3px;
    color: #e6b800;
}
.sofa-offer-img{
    height: 500px;
    width: 970px;
    margin-top: 80px;
    margin-left: 75px;
    margin-right: 30px;
    cursor: pointer;

}
.curtains-offer-img{
    height:500px;
    cursor: pointer;
}
.offer1-img{
    height: 300px;
    width: 1200px;
display: flex;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
cursor: pointer;
}

.products-container{
    
    background-color: rgb(255, 255, 255);
    height: 400px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 30px;
    margin-right: 30px;
}
.top-products{
    font-family: Copperplate Gothic Bold;
    font-size: 50px;
    font-weight: BOLD;
    text-align: center;
    text-shadow: 0 0 4px #e6b800;
}
.product-card{
    background-color: #fff;
    width: 300px;
    height: 280px;
    padding: 40px 20px;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    position: relative;
}
.product-img{
    border-radius: 100%;
    height: 230px;
    width: 230px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 10px #ffcc00);
    cursor: pointer;
}
.product-img:hover{
    transform: scale(1.1);
    transition: 0.4s;
    cursor: pointer;
}



    .product-name{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        text-decoration: none;

    }
    .product-name:hover{
        
    color: #ffcc00;
    transition: 0.3s;
    }

    .new-launches-img{
        height: 400px;
        width: 900px;
        position: relative;
        top: 40px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }

    .new-launches-img:hover{
        box-shadow: 0 0 20px #e6b800;
        transition: 0.3s;
    }
    

    .services-container{
        
        width: 100%;
        height: 200px;
        margin-top: 60px;
    }
    .reasons{
    font-family: Copperplate Gothic Bold;
    font-size: 50px;
    font-weight: BOLD;
    display: block;
    text-align: center;
    text-shadow:#ffcc00 0 0 4px;
    }
    .buisness{
    text-align: center;
    font-size: 20px;
    }

    .services-container-2{
    width: 1400px;
    height: 800px; 
    border:2px solid #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 50px;
    margin-right: 30px;
    }

    .services-card{
    background-color: #fff7e6;
    width: 280px;
    height: 350px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 0px;
    position: relative;
    border-radius: 15px;
    }

    .services-card:hover{
        box-shadow:0  0 30px #595959;
        transition: 0.3s;
        background-color: #ffdf99;
        transform: scale(1.1);
    }

    .services-img{
    border-radius: 0%;
    height: 270px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    filter: drop-shadow(0 0 10px #dfdeda);
    cursor: pointer;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px ;
    }

    

    .services{
        border-radius: 20px;
        height: 28px;
        width: 200px;
        background-color: #e6e6e6;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        display: block;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        text-align: center;
        position: absolute;
        bottom: 5px;
        left: 36px;
    }

    .navratri-img{
        height: 400px;
        width: 400px;
        margin-top: 150px;
        margin-left: 70px;
        cursor: pointer;
    }

    .navratri-img:hover{
        filter: drop-shadow(0 0 10px #ffcc00);
        transition: 0.5s;
    }

    .navratri-quote{
    font-size: 35px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 1234px;
    color: #000000;
    font-weight: bold;
    margin-top: -400px;
    background-color: #ffdf99;
    height: 590px;
    padding-left: 13px;
    border-radius: 5px;
    }
    .navratri-quote:hover{
        color: #ffffff;
        transition: 0.5s;

    }

    .banks-img{
        height: 100px;
        margin-top: 100px;
    }

    .bedroom-furniture-offer-img{
        margin-left: 60px;
        margin-top: 200px;
        cursor: pointer;
    }

    .bedroom-furniture-offer-img:hover{

        filter: drop-shadow(0 0 10px #ffcc00);
        transition: 0.5s;
    }
    .bedroom-furniture-quote{
    font-size: 34px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 700px;
    color: #000000;
    font-weight: bold;
    margin-top: -270px;
    background-color: #ffdf99;
    height: 590px;
    width: 750px;
    padding-left: 25px;
    border-radius: 8px;
    }

    .bedroom-furniture-quote:hover{
        color: #fff;
        transition: 0.5s;
    }

    .chair-offer-img{
    height: 360px;
    width: 580px;
    margin-left: 60px;
    margin-top: -300px;
    cursor: pointer;
    }

    .chair-offer-img:hover{
    filter: drop-shadow(0 0 10px #ffcc00);
        transition: 0.5s;}

    .buying-guides{
        margin-top: 180px;
        margin-left: 70px;
        font-family: Copperplate Gothic Bold;
    font-size: 50px;
    font-weight: BOLD;
    text-align:left; 
    text-shadow: #e6b800 0 0 4px;
    }

    .buying-guides-container{
    height: 408px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }

    .buying-guides-card{
    background-color: #fff7e6;
    width: 478px;
    height: 350px;
    margin-top: 25px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 0px;
    position: relative;
    
    }

    .buying-guides-card:hover{
        box-shadow: 0px 0px 10px #ffcf66;
        background-color: #f2f2f2;
        transform: scale(1.02);
        transition: .3s;
        
    }

    .buying-guide-img{
        width: 100%;
    height: 270px;
    cursor: pointer;
    }
    


    .buying-guide-text{
        font-size: 18px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: left;
        margin-left: 8px;
        cursor: pointer;
    }
    .buying-guide-text:hover{
        color: #ffcc00;
        transition: 0.3s;
    }

    .buying-guide-text-2{
        margin-top: 130px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
    .buying-guide-text-2:hover{
        color: #ffcc00;
        transition: 0.3s;
    }

    .import-img{
        height: 40px;
        width: 40px;
        position: relative;
        top: 160px;
        left: 310px;
        cursor: pointer;
    }
    .import-img:hover{
        background-color: #ffcc00;
        border-radius: 100% ;
    }

    .review-container{
        margin-left: 0px;
        margin-right:0px ;
        height:550px;
        width: 100%;
        margin-top:115px;
        background-color:#fff7e6  ;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .star{
     color:#cc6600;
    text-align: center;
    margin-top: 30px;
    margin-left: 10px;            
     }

     .review-heading{
    font-family: Copperplate Gothic Bold;
    font-size: 50px;
    font-weight: BOLD;
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 140px;
    text-shadow: #e6b800 0 0 4px;
     }

     .review-heading-2{
        text-align: center;
        font-size: 23px;
     }

     .review-card{
        margin-top: 35px;
        height: 478px;
        width: 330px;
        margin-left: 10px;
        margin-right: 10px;
        background-color: #f2f2f2;
        position: relative;
        border-radius: 10px;
        box-shadow: #595959 0 0 1px;
        
     }

     .review-card:hover{
        box-shadow: 0px 0px 10px #595959;
        background-color: #f2f2f2;
        transform: scale(1.05);
        transition: .3s;
       
     }

     .review-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        width: 250px;
     }

     .review-text{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
        margin-left: 10px;
        
     }

     .customer-name{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 10px;
     }

     .verified-buyer-text{
        position: relative;
        left: 40px;
        top: 50px;
     }

     .verified-buyer-img1{
        height:20px;
        width: 20px;
        margin-left: 10px;
        position: absolute;
        bottom:55px ;
     }

     .verified-buyer-img2{
        height:20px;
        width: 20px;
        margin-left: 10px;
        position: absolute;
        bottom:57px ;
     }

     .verified-buyer-img3{
        height:20px;
        width: 20px;
        margin-left: 10px;
        position: absolute;
        bottom:38px ;}

        .verified-buyer-img4{
        height:20px;
        width: 20px;
        margin-left: 10px;
        position: absolute;
        bottom:52px ;}


     .customer-city{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 10px;
        margin-bottom: px;
        position: relative;
        top: 40px;
        left: 30;
     }

     .footer-container{
        border-top: #8c8c8c 1px solid;
        margin-top: 1500px;
      height:520px;
      width:100%;
      background-color:  black;  
      position: absolute;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      position: absolute;
     }

     .footer-services-card{
        height: 240px;
        width: 150px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-left: 50px;
        color: white;
     }
     

     .footer-services{
    margin-top: 1px;
        color: white;
     }

     

     .footer-logo{
        margin-top: 70px;
        height:70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
     }
        
     

     .copyright{
        position: relative;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 13px;
        text-align: center;
        color: white;
     }

     .chatbot-img{
        height: 30px;
        width: 30px;
        background-color: #ffdf99;
        border-radius: 100%;
        padding: 5px;
        border: #ffffff 3px solid;
        position: fixed;
        bottom: 30px;
        right: 25px;
        filter: drop-shadow(0 0 5px #ffcc00);
     }

     .chatbot-img:hover{
        transform: scale(1.1);
        transition: 0.3s;
        filter: drop-shadow(0 0 5px #424140);

     }

     .intro-container{
        height: 1000px;
        width: 100%;
        background-color: #f2f2f2;
        margin-top: 300px;
        position: absolute;
        box-shadow: #595959 0 0 10px;

     }

    .intro-subcontainer{
        height:400px;
        width: 900px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        background-color: white;
        top: -150px;
        box-shadow: #ffcf66 0 0 20px;
        
    }

    .sub-container-text1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 26px;
        text-align: center;
        padding: 12px;
    }

    .sub-container-text2{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 26px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-color: #ff751a;
        height: 30px;
        width: 250px;
        color: white;
        text-align: center;
    }

    .sub-container-text3{
        text-align: center;
        margin-left: 70px;
        margin-right: 70px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: larger;
    }

    .features-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 130px;
    }

    .feature-heading{
        text-align: center;
        font-size: 26px;
        color: #ff751a;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .feature-text{
        text-align: center;
        font-size: 20px;
        color: #000000;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .readmore-btn{
        background-color: #ffdf99;
        height: 50px;
        width: 250px;
        box-shadow: 0 0 20px #595959;
        border-radius: 20px;
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 22px;
        cursor: pointer;
        text-align: center;
    }

    .readmore-btn:hover{
        transition: 0.3s;
        transform: scale(1.05);
        background-color: #ffcf66;
    }

    